@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-ff: "Roboto", sans-serif;
  --secondary-ff: "Poppins", sans-serif;
  --black: #000;
  --white: #fff;
  --light-gray: #f5f5f5;
  --primary-color: rgba(0, 125, 195, 1);
  --primary-color-transparent: rgba(0, 125, 195, 0.95);
  --secondary-darkcolor: #006096;
  --secondary-color: rgba(0, 125, 195, 0.1);
  --tertiary-color: rgba(134, 193, 225, 1);

  /* Spacing */
  --spacing-0: 0.25rem;
  --spacing-1: 0.5rem; /* 8px */
  --spacing-1-5 : 0.75rem; /* 12px */
  --spacing-2: calc(var(--spacing-1) * 2);
  --spacing-3: calc(var(--spacing-1) * 3);
  --spacing-4: calc(var(--spacing-1) * 4);
  --spacing-5: calc(var(--spacing-1) * 5);
  --spacing-6: calc(var(--spacing-1) * 6);
  --spacing-7: calc(var(--spacing-1) * 7);
  --spacing-8: calc(var(--spacing-1) * 8);
  --spacing-9: calc(var(--spacing-1) * 9);
  --spacing-10: calc(var(--spacing-1) * 10);
  --spacing-11: calc(var(--spacing-1) * 11);
  --spacing-12: calc(var(--spacing-1) * 12);
  --spacing-13: calc(var(--spacing-1) * 13);

  /* Font Sizes */
 --fs-1: 80px;
 --fs-2: calc(var(--font-scale-1) / 1.618); /* 68px */
 --fs-3: calc(var(--font-scale-2) / 1.618); /* 58px */
 --fs-4: calc(var(--font-scale-3) / 1.618); /* 49px */
 --fs-5: calc(var(--font-scale-4) / 1.618); /* 42px */
 --fs-6: calc(var(--font-scale-5) / 1.618); /* 36 */
 --fs-7: calc(var(--font-scale-6) / 1.618); /* 30 */
 --fs-8: calc(var(--font-scale-7) / 1.618); /* 26 */
 --fs-9: calc(var(--font-scale-8) / 1.618); /* 22.6 */
 --fs-10: calc(var(--font-scale-9) / 1.618); /* 19.343 */
 --fs-11: calc(var(--font-scale-10) / 1.618); /* 16.343 */
 --fs-12: calc(var(--font-scale-11) / 1.618); /* 14.343 */
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  min-width: 200px;
  overflow-x: hidden;
  position: relative;
}

.no-scroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
}


/* Typography */
.h1 {
  color: var(--white);
  text-align: center;
  font-family: var(--secondary-ff);
  font-size: 43px;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 64.5px */
  letter-spacing: 0.05rem;
}

.h2 {
  color: rgba(0, 123, 194, 1);
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Poppins;
  font-size: clamp(3.2rem, 5vw + 1rem, 3.2rem);
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 112.5px */
  letter-spacing: 0.8px;
}

.h3 {
  color: var(--white);
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 36px */
  letter-spacing: 0.05rem;
}

.h4 {
  color: var(--white);
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 36px */
  letter-spacing: 0.05rem;
}
.h5 {
  color: var(--white);
  text-align: center;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 150%; /* 36px */
  letter-spacing: 0.05rem;
}