.videoContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  @media only screen and (orientation: landscape) {
    height: 1000px;
  }
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;

  @media only screen and (orientation: landscape) {
    height: 1000px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;

  @media only screen and (orientation: landscape) {
    height: 1000px;
  }
}

.content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}
