.navContainer {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto 3.3rem;
}

.mainNavContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto 7rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoText {
  color: #000;
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: "Times New Roman";
  font-size: 12.24px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 18.36px */
  letter-spacing: 1.008px;
}

.logoTextLg {
  font-size: 20.88px;
  font-style: normal;
  line-height: 103%;
  letter-spacing: 0.72px;
}

.logoTextSm {
  font-size: 8.64px;
  line-height: 241%;
  letter-spacing: 0.115px;
}

.logoTextSmAlternate {
  font-size: 8.604px;
  line-height: 131%;
  letter-spacing: 0.115px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 57.9375rem;
}
