.container {
  position: relative;
  height: 100%;
}

.wrapper {
  padding-top: 64px;
  position: absolute;
  top: 10px;
}

.dropdown {
  display: flex;
  width: 266px;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--primary-color);
  position: relative;
  z-index: 3;
}


.listItem {
  cursor: pointer;
  padding: 1rem;
  text-align: left;
  width: 100%;
  transition: color 3s ease;
}

.listItem:not(:last-child) {
  border-bottom: 2.5px solid transparent;
}

.listItem:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);

}

.link {
  display: block;
  color: var(--white);
  text-decoration: none;
  width: 100%;
}