.container {
  position: relative;
  height: 100%;
}

.wrapper {
  padding-top: 20px;
  position: absolute;
  top: 20px;
}

.dropdown {
  border: 2.5px solid #CCC;
  display: flex;
  width: 266px;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--white);
  position: relative;
  z-index: 2;
}


.listItem {
  cursor: pointer;
  padding: 1rem;
  text-align: left;
  width: 100%;
}

.listItem:not(:last-child) {
  border-bottom: 2.5px solid #CCC;
}

.listItem:hover {
  background-color: var(--light-gray);
}

.link {
  color: var(--black);
  text-decoration: none;
  width: 100%;
}